html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 12px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

main {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: ;
  grid-template-areas: "grid_display grid_info";
}

.grid_display { grid-area: grid_display; }

.section_info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 2.3fr 0.4fr;
  grid-template-areas: "grid_nav" "grid_copy" "grid_images" "grid_footer";
  grid-area: grid_info;
  background-color: #1f1f1fb0;
}

.nav_main { 
  grid-area: grid_nav;
  background-color: #1f1f1f;
}

.nav_main h1 {
  margin: 0;
  padding: 15px 25px;
  display: inline-block;
  font-size: 25px;
}

.nav_main a {
  float: right;
  padding: 25px 25px 0px;
}

.nav_sub { 
  grid-area: grid_nav;
  background-color: #a34100;
  display: flex;
  justify-content: space-around;
}

.article_copy { 
  grid-area: grid_copy; 
  padding: 25px;
}

.article_copy h3 {
  margin: 0;
}

.article_images { 
  grid-area: grid_images;
  height: 30rem;
  margin: 15px;
  display: flex;
  justify-content: space-around;
}

.article_images img {
  width: 250px;
  height: 200px;
  border: 1px solid #a34100;
}

.section_footer { 
  grid-area: grid_footer; 
  padding: 25px;
}
